---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import ContactForm from '@components/ContactForm.astro';
import FlipWords from "@components/FlipWords";
import Testimonials from '@components/Testimonials';
import WhyChooseUs from "@sections/WhyChooseUs";

import { motion } from 'framer-motion';

//Props
const words: string[] = ["faster", "smarter", "stronger", "sleeker"];
---

<Layout title="Armify - Robotic Arms" >
	<script
		type="module"
		src="https://unpkg.com/@splinetool/viewer@1.8.1/build/spline-viewer.js"
	></script>
	<div class="relative w-full h-screen">
		<a href="https://bento.me/omont-dev" target="_blank" class="block focus:outline-none focus:ring-2 focus:ring-indigo-500" aria-label="Website of Oriol M." id="made-by">
		  <div class="bg-gray-900 border-2 border-gray-800 rounded-lg p-2 text-sm text-white absolute bottom-5 right-5 z-40 flex items-center justify-center transition-transform duration-200 hover:scale-105">
			<span>Made by <span class="link-primary text-indigo-400">Oriol M.</span></span>
		  </div>
		</a>
		<div class="absolute inset-0 z-10">
			<spline-viewer
				url="https://prod.spline.design/E5SZNJfYrqlK6tyt/scene.splinecode"
			></spline-viewer>
		</div>	
		<div
		class="absolute inset-0 flex items-center justify-center lg:justify-start p-8 lg:p-16 z-30 md:z-auto"
		style="user-select: none;"
	>
			<div class="px-16 sm:px-28 md:px-28 lg:px-28 xl:px-56 py-8 sm:py-12 md:py-16">
				<div
					class="h-full flex justify-center items-center p-4 bg-gray-900 rounded-2xl"
				>
				<div
				class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-neutral-100 leading-tight tracking-tight"
			>
				Build
				<FlipWords words={words} client:load />
				<br />
				automation with <span class="text-indigo-400">Armify</span> products
			</div>
				</div>
				<p
					class="mt-3 p-4 text-lg sm:text-xl max-w-lg mx-auto lg:mx-0 text-center lg:text-left text-white"
				>
					Revolutionizing industries with cutting-edge robotic arms
					and advanced machinery.
				</p>
				<div class="flex justify-center ps-4 lg:justify-start">
					<a
						href="#products"
						class="group relative inline-flex items-center px-8 py-3 text-base font-medium rounded-full text-white bg-indigo-600 overflow-hidden transition-all duration-300 ease-out hover:bg-indigo-700 hover:scale-105 hover:shadow-lg z-20"
					>
						<span
							class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"
						></span>
						<span class="relative">Explore our products</span>
						<svg
							class="w-5 h-5 ml-2 transition-transform duration-300 ease-out transform group-hover:translate-x-1"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
	<main
		class="px-16 sm:px-28 md:px-28 lg:px-28 xl:px-56 py-8 sm:py-12 md:py-16"
		aria-label="Main website content">
	<section class="py-16" id='why-choose-us'>
		<WhyChooseUs client:load />
	</section>
		
		<section class="py-16" id="products">
		<h3
			class="text-3xl font-bold mb-6 text-center animate-fade-in-up relative"
			id="products"
		>
			Discover our
			<span class="relative inline-block">
				<span class="relative z-10 border-b-4 border-indigo-500"
					>Superior Robotic Arms</span
				>
			</span>
		</h3>
		<p class="mb-12 text-center animate-fade-in-up delay-100">
			Dive into our range of advanced robotic arms, engineered for
			revolutionizing industrial automation.
		</p>

		<ul
      role="list"
      class="flex relative justify-between items-stretch w-full flex-wrap gap-5"
    >
      <motion.img
		alt="Best for heavy applications"
        src="annotations/annotation1.svg"
        className="absolute -top-28 -left-36 hidden 2xl:block aspect-video select-none"
        initial={{ opacity: 0, scale: 0.8 }}
        whileInView={{ opacity: 1, scale: 1 }}
        viewport={{ once: true }}
        transition={{ duration: 0.5, delay: 0.2 }}
        client:load
      />
      <Card
        path="/robotArms/roboarm1.webp"
        title="ABB IRB 6700"
        body="Learn how the ABB IRB 6700 excels in heavy-duty applications."
      />

      <motion.img
	  	alt="Good for high-speed operations"
        src="annotations/annotation2.svg"
        className="absolute -top-28 left-[1100px] hidden 2xl:block aspect-video select-none"
        initial={{ opacity: 0, scale: 0.8 }}
        whileInView={{ opacity: 1, scale: 1 }}
        viewport={{ once: true }}
        transition={{ duration: 0.5, delay: 0.4 }}
        client:load
      />
      <Card
        path="/robotArms/roboarm2.webp"
        title="Fanuc M-20iA"
        body="Explore the capabilities of the Fanuc M-20iA for high-speed operations."
      />

	  <motion.img
	  alt="Our most precise arm model"
	  src="annotations/annotation3.svg"
	  className="absolute top-[530px] left-[250px] hidden 2xl:block aspect-video select-none"
	  initial={{ opacity: 0, scale: 0.8 }}
	  whileInView={{ opacity: 1, scale: 1 }}
	  viewport={{ once: true }}
	  transition={{ duration: 0.5, delay: 0.6 }}
	  client:load
  />	
      <Card
        path="/robotArms/roboarm3.webp"
        title="Kuka KR 6"
        body="Discover the power of the Kuka KR 6 for precise automation tasks."
      />
    </ul>
		</section>

		<section class="py-16" id="testimonials">
		<Testimonials client:load />
		</section>

		<section class="py-16" id="contact">
		<ContactForm />
		</section>
	</main>
</Layout>