---
import Layout from '../layouts/Layout.astro';
import OopsContent from '@components/OopsContent';
---

<Layout title="Armify - Robotic Arms">
  <main class="flex items-center justify-center min-h-screen">
    <OopsContent client:load />
  </main>
</Layout>