---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	body: string;
	path: string;
}

const { path, title, body } = Astro.props;
---

<li class="group w-full sm:max-w-full md:max-w-[45%] lg:max-w-[30%] lg:w-[30%]">
	<a href="/oops" class="block">
		<div class="card w-full bg-black rounded-2xl overflow-hidden border  border-white/[0.2] group-hover:border-slate-700 shadow-lg transition-all duration-300 ease-in-out transform-gpu hover:-rotate-2 hover:scale-105 cursor-pointer relative z-20">
			<div class="flex justify-center bg-gray-900 p-2">
				<Image 
					src={path}
					alt={title}
					width={400}
					height={300}
					loading="eager"
					class="w-full h-auto object-contain transition-all duration-300 ease-in-out"
				/>
			</div>
			<div class="p-4 relative">
				<h2 class="text-lg font-semibold text-white mb-2 transition-all duration-300 ease-in-out group-hover:text-blue-400">
					{title}
				</h2>
				<p class="text-sm text-gray-400 transition-all duration-300 ease-in-out group-hover:text-gray-300">
					{body}
				</p>
			</div>
		</div>
	</a>
</li>