<footer class="footer footer-center text-base-content p-4 text-center border-t border-indigo-500">
    <aside>
      <p>Designed and built by <a href="https://bento.me/omont-dev" target="_blank" class="link-primary text-indigo-400">Oriol Mont Creus</a></p>
    </aside>
</footer>