<footer class="footer footer-center text-base-content p-4 text-center border-t border-indigo-500" style="background-color: #13151a;">
  <aside>
    <p>Designed and built by <a href="https://bento.me/omont-dev" target="_blank" class="link-primary text-white hover:text-indigo-500 focus:text-gray-300 focus:outline-none focus:ring-2 focus:ring-white focus:underline border-b border-indigo-500" aria-label="Visit Oriol Mont Creus's Bento.me">Oriol Mont Creus</a></p>
  </aside>
</footer>